
#donate-tabs{
    .nav-link {
        color: $tab-link-color;

        &.active {
            background: $primary
        }
    }
}

// Form styles

#bbox-root {

    // Resets
    #mongo-form,
    div.BBFormContainer,
    div.BBFormFieldContainer,
    div.BBFormSection,
    div.BBFormSectionHeading,
    div.BBFormFieldRecurrenceInfo {
        min-width: 100%;
        margin: 0;
        padding: 0;
    }

    input,
    select,
    textarea {
        border-radius: 0;
    }

    select {
        @extend .custom-select;
    }

    legend{

        margin-bottom: $spacer-2;
        
        > div > label{
            @extend .h4;
            color: $body-color;
        }
    }

    input,
    textarea {
        @extend .form-control;
        &.BBFormCurrency{
            display: none;
        }
    }

    div.BBFormSectionHeading{
        color: $text-muted;
        border-bottom: 1px solid $border-color;
    }

    // Sections
    div.BBFormSection {
        margin-bottom: $form-group-margin-bottom;
        // background: rgba(yellow, 0.5);
    }
    

.BBFormRadioLabelGivingLevelSelected > input{
    display: block;
}


div.BBFormFieldContainer {
    margin-top: $spacer-2 !important;

    &:first-of-type {
        margin-top: 0;
    }

    div.BBFormFieldContainer {
        margin-top: 0 !important;
    }
}

    div.BBFormFieldRecurrenceInfo{
        font-size: $fs-md;

    }
    
    div.BBRecurrenceFieldContainer{
        margin: 0;
        
        span{
            display: flex;
            align-items: center;
            margin-bottom: $spacer-1;

            select{
                height: 100%;
                margin:0 1rem;
            }
        }
    }

    .BBFormFieldRecurrenceInfo{
        color: $text-muted;

    }

    .BBLinkSecureInfo{
        font-size: $fs-md;
        margin-bottom: $spacer-1;
    }



#bboxdonation_payment_lblCCType{
    display: none;
}



    #bboxdonation_recurrence_divRecurrenceCheckbox{
        @extend .custom-control;
        @extend .custom-checkbox;
        margin-bottom: $spacer-2;

        input[type="checkbox"] {
            @extend .custom-control-input;
        }

        label{
            display: inline-block;
            float: none;
            width: auto;
            @extend .custom-control-label;
        }
    }

    // Credit card expiration, CSC
    div.BBExpirationCSC {
        .BBFormFieldLabel {
            min-width: 200px;
        }
    }

    // Credit card images
    div#DCCreditType {
        margin-left:160px;
        width: auto;
        .BBFormFieldLabel {
            display: none;
        }
    }

    //Expiration

    .BBFieldExpiration .BBFormFieldLabel{
        margin: 0;
        padding: 0;
    }

    .BBFormRadioList{
        margin: -($spacer-1/2);

        display: flex;
        flex-wrap: wrap;

        .BBFormRadioItem{
            margin: ($spacer-1/2);

            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 33%;
            align-self: stretch;
            display: flex;

            // .BBFormRadioButtonContainer
            
            > div { 
                display: flex;
                width: 100%;
            }

            > div > label{
                align-self: stretch;
                display: flex;
                text-align: center;
                width: 100%;

                > input{
                    
                    align-self: center;
                    margin: 0 auto;
                    background: $light;
                    border: none;
                    // padding: .25rem;
                    height: auto !important;



                }
            }
        }

        .BBFormRadioLabel {


            &.BBFormRadioLabelGivingLevel {
                border: $border-width solid $border-color;
                border-radius: 0;
                @extend .btn;
                @extend .btn-lg;
                // @extend .btn-lg;
                @extend .fs-lg;
            }

            &.BBFormRadioLabelGivingLevelSelected {
                border-color: $transparent !important;
                background-color: $primary !important;
                
                input{ display: block; }
            }

            // span{
            //     color: $body-color;
            //     font-weight: $font-weight-bold;
            // }
        }
    }

}
